<p>
  
  <h2>
  	<%= link_to post.title, post %>
  	<div class="pull-right">
  		<%= form_for(Heart.new) do |f| %>
  		<%= f.hidden_field :post_id, value: post.id %>
  		<%= f.submit "♥", class: 'btn btn-danger' %>
  		<% end %>
  	</div>
  </h2>
</p>

<p>
  <% if post.kind == 'image' %>
  <%= image_tag post.content, style: "width: 100%" %>
  <% else %>
  <%= simple_format post.content %>
  <% end %>
</p>

<p class="text-muted">
	<small>
	Posted on <%=post.created_at.to_formatted_s(:long)%>
</small>
<small class="pull-right"> 
	<%= post.hearts.count %> hearts
</small>
</p>