<!DOCTYPE html>
	<html>
	<head>
	  <title>Crumblr</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>
					<%= link_to 'crumblr', '/'%>
					<small>// home baked goodness</small>
				</h1>
			</div>


			<ul class="nav nav-pills pull-right">
				<li>
		<%= link_to "Home", root_url %>
	</li>
	<li>
		<%= link_to "Manage Posts", posts_url %>
	</li>
	<li>
		<%= link_to "About", about_url %>
	</li>
			</ul>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					

				</div>
			</div>


	<%= yield %>
</div>

	</body>
	</html>


